# Node
node_modules/
agencia-express/data/*.jsonl

# Python
.venv/
__pycache__/
*.pyc
agencia/data/*.jsonl
agencia/data/usuarios.json
agencia/.env

# Sistema
Thumbs.db
desktop.ini

# Prettier - Code formatter
.prettierrc

# Macbook
.DS_Store